[theme = 'light'] {
    --cor-fundo-principal: #CDCDCD;
    --cor-da-div-corpo: #fff;
    --cor-do-botao: #000;
    --cor-do-fundo-pesquisar: #000;
    --cor-do-nome-pesquisar: #FFF;
    --cor-do-header: #FFF;
    --cor-da-parte2: #fff;
    --cor-das-linhas: #000;
    --cor-do-nome-sair: #fff;
    --cor-dos-navs: #000;
}
[theme='dark'] {
    --cor-fundo-principal: #282626;
    --cor-da-div-corpo: #474747;
    --cor-do-botao: #282626;
    --cor-do-fundo-pesquisar: #fff;
    --cor-do-nome-pesquisar: #000;
    --cor-do-header: #282626;
    --cor-da-parte2: #282626;
    --cor-das-linhas: #fff;
    --cor-do-nome-sair: #fff;
    --cor-dos-navs: #fff;
}
[theme = 'baixa'] {
    --cor-fundo-principal: #fff;
    --cor-da-div-corpo: #1D0769;
    --cor-do-botao: #282626;
    --cor-do-fundo-pesquisar: #1D0769;
    --cor-do-nome-pesquisar: #EAD811;
    --cor-do-header: #FFF;
    --cor-da-parte2: #321597;
    --cor-das-linhas: #EAD811;
    --cor-do-nome-sair: #EAD811;
    --cor-dos-navs: #1D0769;
}

body{
    margin: 0;
    background-color: var(--cor-fundo-principal);
    height: 100vh;
    font-family: "Joan";
}
header{
    background-color: var(--cor-do-header);
}
#parte1{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 20px 20px;
}
#pesquisar{
    background-color: black;
    border-radius: 15px;
    color: #fff;
    padding: 2px 120px 2px 20px;
    margin-top: 10px;
    margin-right: 40px;
}
#pesquisar::placeholder{
    color: var(--cor-do-nome-pesquisar);
    font-size: 14px;
}
#parte2{
    height: 30px;
    border-top: 3px solid var(--cor-das-linhas);
    border-bottom: 3px solid var(--cor-das-linhas);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    padding-right: 20px;
    background-color: var(--cor-da-parte2);
    overflow-x: hidden;
}
#ajuda{
    color: var(--cor-das-linhas);
}
.p{
    border-right: 2px solid var(--cor-das-linhas);
    padding-right: 20px;
    color: var(--cor-das-linhas);
}
.temas {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 10px;
}
.menu-temas:hover .temas {
    display: block;
}
#iconestl{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
#icones{
    display: flex;
    align-items: center;
    gap: 15px;
}
.botaotype.especial{
    background-color: rgb(217,217,217);
}
.botaotype{
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
}
.botaotype img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.botaotype:hover{
    background-color: rgb(217,217,217);
}
.sidebarnormal{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: var(--cor-do-nav);
    color: var(--cor-dos-navs);
}
.p2{
    color: var(--cor-dos-navs);
}
section{
    display: flex;
    justify-content: center;
}
#corpo{
    background-color: var(--cor-da-div-corpo);
    width: 80%;
    border-radius: 25px;
    display: flex;
    font-size: 30px;
    padding: 50px;
    height: 60vh;
    margin-top: 30px;
    font-family: "Inknut Antiqua";
}
.perfil{
    font-size: 40px !important;
    color: var(--cor-das-linhas)!important;

}
.caixa2{
    border: none;
    background-color: #D9D9D9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: "Inknut Antiqua";
    font-size: 20px;
    width: 30%;
    color: var(--cor-dos-navs);
}
input::placeholder{
    color: black;
    font-family: "Inknut Antiqua";
    font-size: 20px;
    font-weight: bold;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;
    padding: 0px 40px 0px 100px;
    gap: 25px;
    margin-top: -40px;
}
#form p{
    border-bottom: 1px solid var(--cor-das-linhas);
    width: 20%;
    font-size: 25px;
    text-align: start;
    margin-bottom: 0;
    color: var(--cor-dos-navs);
}
.botao{
    background-color: var(--cor-do-botao);
    color: var(--cor-do-nome-sair);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    width: 15%;
}
a {
    text-decoration: none;
    color: black;
}

.sidebar-icon{
    cursor: pointer;
    display: none;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    padding-right: 20px;
    border-right: 2px solid #000;
}
.sidebar{
    padding-top: 50px;
    height: 1000vh;
    width: 0; /* começa fechado */
    position: fixed;
    top: 0; /*mudei isso*/
    left: 0; /* se quiser do lado direito, troque para right: 0 */
    z-index: 1000;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    gap: 10px;
    overflow-x: hidden; /* esconde o conteúdo quando fechado */
    transition: width 0.3s ease; /* animação suave */
    display: flex;
    margin: 0;
}
.sidebar.open{
    width: 200px;/* e mudei isso (tava 250)*/
}
.sidebar a{
    cursor: pointer;
    padding: 10px 0px 10px 30px;
    border-radius: 15px;
}
.sidebar a:hover{
    margin: 10px;
    background-color: #CDCDCD;
}

@media (min-width: 1024px){
    .botao{
        width: 40%;
    }
    #form p{
        width: 60%;
    }
    input{
        width: 70%;
    }
    #form{
        padding: 0;
    }
    #corpo{
        display: flex;
        justify-content: center;
        height: 70vh;
    }
}
@media (min-width: 601px) and (max-width: 1023px){
    .botao{
        width: 40%;
    }
    #form p{
        width: 60%;
    }
    input{
        width: 70%;
    }
    #form{
        padding: 0;
    }
    #corpo{
        display: flex;
        justify-content: center;
        height: 80vh;
    }
    .sidebar-icon{
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
    }
    #parte2{
        justify-content: start;
    }
    #acesibili{
        display: none;
    }
    #ajuda{
        display: none;
    }
    .p{
        border: none;
        padding-left: 0px;
        cursor: pointer;
    }
    .sidebarnormal{
        display: none;
    }
    #pesquisar{
        display: none;
    }
}
@media (max-width: 600px){
    .botao{
        width: 50%;
    }
    #form p{
        width: 80%;
    }
    input{
        width: 90%;
    }
    #form{
        padding: 0;
    }
    #corpo{
        display: flex;
        justify-content: center;
        width: 70%;
        height: 100vh;
    }
    #pesquisar{
        display: none;
    }
    nav{
        gap: 30px;
        flex-wrap: wrap;
        padding: 5px;
        padding-top: 0;
    }
    .p{
        border-right: 2px solid var(--cor-das-linhas);
        padding: 0;
        padding-right: 5px;
        color: var(--cor-das-linhas);
        display: flex;
    }
    #ajuda{
        color: var(--cor-das-linhas);
        display: flex;
    } 
    #parte2{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .sidebar-icon{
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
    }
    #parte2{
        justify-content: start;
    }
    #acesibili{
        display: none;
    }
    #ajuda{
        display: none;
    }
    .p{
        border: none;
        padding-left: 0px;
        cursor: pointer;
    }
    .sidebarnormal{
        display: none;
    }

}
