/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f2f2f2;
    color: #fff;
}
header{
    background-color: rgb(19, 19, 90);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
} */
.lateral{
    display: flex;
    gap: 40px;
}
.lateral > i{
    font-size: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.lateral > i:hover{
    transform: scale(1.4);
}
/* nav{
    display: flex;
    background-color: #fff;
    color: #000;
    height: 4vh;
    justify-content: end;
    align-items: center;
    padding: 0px 20px;
    gap: 20px;
    overflow-x: hidden;
} */
.p{
    cursor: pointer;
    border-right: 2px solid #000;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.ps{
    cursor: pointer;
}
.nav2{
    color: #000;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.nav2 > p{
    transition: transform 0.3s ease;
    cursor: pointer;
}
.nav2 > p:hover{
    transform: scale(1.1);
    border-bottom: 1px solid black;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    height: 100%;
    width: 0; /* começa fechado */
    position: fixed;
    left: 0; /* se quiser do lado direito, troque para right: 0 */
    z-index: 1000;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    gap: 10px;
    overflow-x: hidden; /* esconde o conteúdo quando fechado */
    transition: width 0.3s ease; /* animação suave */
    display: flex;
    margin: 0;
}
.mobile-menu.active {
    width: 150px; /* largura do sidebar */
}
@media screen and (max-width: 600px) {
    nav{
        justify-content: start;
    }
    .p{
        border: none;
    }
    .nav2{
        display: none;
    }
    .lateral > i{
        font-size: 15px;
    }
    .ps{
        display: none;
    }
    .mobile-menu-icon{
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
        background-color: transparent;
        border: none;
        padding-right: 20px;
        border-right: 2px solid #000;
    }
    .mobile-menu{
        display: block;
    }
    .mobile-menu > p{
        cursor: pointer;
        padding: 10px;
        border-radius: 15px;
    }
    .mobile-menu > p:hover{
        background-color: #f2f2f2;
    }
    .open{
        display: block;
    }
}


