[theme = 'light'] {
    --cor-fundo-principal: #CDCDCD;
    --cor-da-div-corpo: #fff;
    --cor-do-botao: #000;
    --cor-do-fundo-pesquisar: #000;
    --cor-do-nome-pesquisar: #FFF;
    --cor-do-header: #FFF;
    --cor-da-parte2: #fff;
    --cor-das-linhas: #000;
    --cor-do-nome-sair: #fff;
    --cor-dos-navs: #000;
    --cor-icone-nao-selecionado: #fff;
    --cor-hover-icones: #d9d9d9;
    --cor-menu-nav-texto: #000;
    --cor-menu-temas: #FFF;
    --cor-icones: none;
    --cor-icones-parte1: none;
    --cor-icone-especial: none;
    --cor-texto-menutenis: #000;
    --cor-valor: #0095D0;
    --cor-texto-corpo: #000;
    --cor-botao: none;
    --cor-hover-botao:  #B4B4B4;
    --cor-botao: #d9d9d9;
    --cor-da-div-corpoc:#fff;
}
[theme='dark'] {
    --cor-fundo-principal: #282626;
    --cor-da-div-corpo: #474747;
    --cor-do-botao: #282626;
    --cor-do-fundo-pesquisar: #fff;
    --cor-do-nome-pesquisar: #000;
    --cor-do-header: #282626;
    --cor-da-parte2: #282626;
    --cor-das-linhas: #fff;
    --cor-do-nome-sair: #fff;
    --cor-dos-navs: #fff;
    --cor-icone-nao-selecionado: #282626;
    --cor-hover-icones: #d9d9d9;
    --cor-menu-nav-texto: #FFF;
    --cor-menu-temas: #474747;
    --cor-icones: brightness(0) invert(1);
    --cor-icones-parte1: brightness(0) invert(1);
    --cor-icone-especial: none;
    --cor-texto-menutenis: #FFF;
    --cor-valor: #0095D0;
    --cor-texto-corpo: #FFF;
    --cor-botao: brightness(0) invert(1);
    --cor-hover-botao:  #B4B4B4;
    --cor-botao: #d9d9d9;
    --cor-da-div-corpoc:#474747;
}
[theme = 'baixa'] {
    --cor-fundo-principal: #fff;
    --cor-da-div-corpo: #1D0769;
    --cor-do-botao: #282626;
    --cor-do-fundo-pesquisar: #1D0769;
    --cor-do-nome-pesquisar: #EAD811;
    --cor-do-header: #FFF;
    --cor-da-parte2: #321597;
    --cor-das-linhas: #000;
    --cor-do-nome-sair: #EAD811;
    --cor-dos-navs: #1D0769;
    --cor-icone-nao-selecionado: #fff;
    --cor-hover-icones: #EAD811;
    --cor-menu-nav-texto: #EAD811;
    --cor-menu-temas: #1D0769;
    --cor-icones: brightness(0) saturate(100%) invert(87%) sepia(70%) saturate(5000%) hue-rotate(2deg);
    --cor-icones-parte1: brightness(0) saturate(100%) invert(11%) sepia(93%) saturate(6162%) hue-rotate(229deg) brightness(92%) contrast(122%);
    --cor-icone-especial:brightness(0) saturate(100%) invert(11%) sepia(93%) saturate(6162%) hue-rotate(229deg) brightness(92%) contrast(122%);
    --cor-texto-menutenis: #1D0769;
    --cor-valor: #EAD811;
    --cor-texto-corpo: #EAD811;
    --cor-botao: brightness(0) saturate(100%) invert(11%) sepia(93%) saturate(6162%) hue-rotate(229deg) brightness(92%) contrast(122%);
    --cor-hover-botao: #10092d;
    --cor-botao: #1D0769;
    --cor-da-div-corpoc:#EAD811;
}
*{
    margin: 0;
}
header{
    background-color: var(--cor-do-header);
}
#parte1{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}
#pesquisar{
    background-color: var(--cor-do-fundo-pesquisar);
    border-radius: 15px;
    color: var(--cor-do-nome-pesquisar);
    padding: 2px 120px 2px 20px;
    margin-top: 10px;
    margin-right: 40px;
}
input::placeholder{
    color: var(--cor-do-nome-pesquisar);
}
#parte2{
    height: 30px;
    border-top: 3px solid var(--cor-das-linhas);
    border-bottom: 3px solid var(--cor-das-linhas);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    padding-right: 20px;
    background-color: var(--cor-da-parte2);
    color: var(--cor-menu-nav-texto);
}
.p{
    border-right: 2px solid var(--cor-das-linhas);
    padding-right: 20px;
}

body{
    background-color: var(--cor-fundo-principal);
}

#iconestl{
height: 20px;
width: 20px;
vertical-align: middle;
margin-right: 5px;
}
.botaotype{
   padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: var(--cor-icone-nao-selecionado);
    width: 45px;
    height: 45px;

}
.botaotype img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    filter: var(--cor-icones);
    cursor: pointer;
}
.botaotype.especial{
    background-color: var(--cor-hover-icones);
    cursor: pointer;
}
.botao_especial{
    filter: var(--cor-icone-especial) !important;
}
#icones{
    display: flex;
    align-items: center;
    gap: 15px;
}
.botaotype:hover{
    background-color: var(--cor-hover-icones);
}

#navtenis{
    gap: 10px;
    flex-direction: column;
    display: flex;
    text-align: center;
    font-size: large;
}
#navtenis img{
    margin-top: 10px;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    color: var(--cor-menu-temas);
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    gap: 70px;
    padding-top: 20px;
    color: var(--cor-menu-nav-texto);
}
#menutenis p{
    color: var(--cor-texto-menutenis);
}
#block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
    height: 180px;
    
}
#block:hover{
    background-color:  rgb(180, 180, 180);
    cursor: pointer;
}
.temas {
    display: none;
    position: absolute;
    background-color: var(--cor-menu-temas);
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 10px;
}
.menu-temas:hover .temas {
    display: block;
}
#iconestl {
    filter: var(--cor-icones) !important;
}
#parte1 img{
    filter: var(--cor-icones-parte1);
}
.menu-temas .p,
#parte2 .p {
    cursor: pointer;
}
.temas p {
    cursor: pointer; 
}
.p-a{
   cursor: pointer; 
}
.logo{
    cursor: pointer;
}
#container{
    height: 500px;
    width: 1190px;
    background-color: var(--cor-da-div-corpoc);
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    color: var(--cor-dos-navs);
}

#container img{
    filter: var(--cor-icones-parte1);
}


#tudo{
    display: flex;
    justify-content: center;
}
#carrinho{
    font-size: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#botao{
    background-color: #fff;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border:  none;
    background-color: var(--cor-botao);
    color: var(--cor-menu-nav-texto);
}
#botao:hover{
background-color: var(--cor-hover-botao);
color: var(--cor-do-nome-pesquisar);

}

#botao:hover img {
  filter: brightness(0) invert(1);
}
a {
    text-decoration: none;
    color: black;
}

/* sidebar */

.sidebar-icon{
    cursor: pointer;
    display: none;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    padding-right: 20px;
    border-right: 2px solid #000;
}
.sidebar{
    padding-top: 50px;
    height: 1000vh;
    width: 0; /* começa fechado */
    position: fixed;
    top: 0; /*mudei isso*/
    left: 0; /* se quiser do lado direito, troque para right: 0 */
    z-index: 1000;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    gap: 10px;
    overflow-x: hidden; /* esconde o conteúdo quando fechado */
    transition: width 0.3s ease; /* animação suave */
    display: flex;
    margin: 0;
}
.sidebar.open{
    width: 200px;/* e mudei isso (tava 250)*/
}
.sidebar a{
    cursor: pointer;
    padding: 10px 0px 10px 30px;
    border-radius: 15px;
}
.sidebar a:hover{
    margin: 10px;
    background-color: #CDCDCD;
}

@media (min-width: 768px) and (max-width: 1024px) {
    #parte1 {
        justify-content: space-between;
    }
    #icones {
        gap: 10px;
    }
    #container {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    #carrinho {
        font-size: 50px;
    }
    .menu{
        display: none;
    }
    .sidebar-icon{
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
    }
    #parte2{
        justify-content: start;
    }
    #a{
        display: none;
    }
    .p-a{
        display: none;
    }
    .p{
        border: none;
        padding-left: 0px;
        cursor: pointer;
    }
    .sidebarnormal{
        display: none;
    }
    #pesquisar{
        display: none;
    }
}


@media (max-width: 767px) {
    #parte1 {
        justify-content: space-between;
    }

    #pesquisar {
        display: none;
    }

    #icones {
        gap: 10px;
        justify-content: center;
    }

    .menu{
        display: none;
    }

    #block {
        width: 120px;
        height: auto;
    }

    #block img {
        width: 100px;
        height: 100px;
    }

    #container {
        width: 80%;
        height: auto;
        padding: 15px;
    }

    #carrinho {
        font-size: 35px;
        text-align: center;
    }

    #botao {
        width: 90%;
        height: 45px;
        font-size: 16px;
    }
    .sidebar-icon{
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
    }
    #parte2{
        justify-content: start;
    }
    #a{
        display: none;
    }
    .p-a{
        display: none;
    }
    .p{
        border: none;
        padding-left: 0px;
        cursor: pointer;
    }
    .sidebarnormal{
        display: none;
    }
}