 [theme = 'light'] {
    --cor-fundo-principal: #CDCDCD;
    --cor-da-div-corpo: #fff;
    --cor-do-botao: #000;
    --cor-do-fundo-pesquisar: #000;
    --cor-do-nome-pesquisar: #FFF;
    --cor-do-header: #FFF;
    --cor-da-parte2: #fff;
    --cor-das-linhas: #000;
    --cor-do-nome-sair: #fff;
    --cor-dos-navs: #000;
    --cor-menu-nav-texto: #000;
    --cor-menu-temas: #FFF;
    --cor-hover-icones: #d9d9d9;
    --cor-icone-nao-selecionado: #fff;
    --cor-icones: none;
    --cor-nomes-form: #000;
    --cor-linha-form: #000;
}
[theme='dark'] {
    --cor-fundo-principal: #282626;
    --cor-da-div-corpo: #474747;
    --cor-do-botao: #282626;
    --cor-do-fundo-pesquisar: #fff;
    --cor-do-nome-pesquisar: #000;
    --cor-do-header: #282626;
    --cor-da-parte2: #282626;
    --cor-das-linhas: #fff;
    --cor-do-nome-sair: #fff;
    --cor-dos-navs: #fff;
    --cor-menu-nav-texto: #FFF;
    --cor-menu-temas: #474747;
    --cor-hover-icones: #d9d9d9;
    --cor-icone-nao-selecionado: #282626;
    --cor-icones: brightness(0) invert(1);
    --cor-nomes-form: #fff;
    --cor-linha-form: #fff;
}
[theme = 'baixa'] {
    --cor-fundo-principal: #fff;
    --cor-da-div-corpo: #1D0769;
    --cor-do-botao: #282626;
    --cor-do-fundo-pesquisar: #1D0769;
    --cor-do-nome-pesquisar: #EAD811;
    --cor-do-header: #FFF;
    --cor-da-parte2: #321597;
    --cor-das-linhas: #EAD811;
    --cor-do-nome-sair: #EAD811;
    --cor-dos-navs: #1D0769;
    --cor-menu-nav-texto: #EAD811;
    --cor-menu-temas: #1D0769;
    --cor-hover-icones: #EAD811;
    --cor-icone-nao-selecionado: #fff;
    --cor-icones: brightness(0) saturate(100%) invert(87%) sepia(70%) saturate(5000%) hue-rotate(2deg);
    --cor-nomes-form: #EAD811;
    --cor-linha-form: #fff;
}

body{
    margin: 0;
    background-color: var(--cor-fundo-principal);
    height: 100vh;
    font-family: "Joan";
}
header{
    background-color: var(--cor-do-header);
}
#parte1{
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 20px 20px;
}
#pesquisar{
    background-color: var(--cor-do-fundo-pesquisar);
    border-radius: 15px;
    color: var(--cor-do-nome-pesquisar);
    padding: 2px 120px 2px 20px;
    margin-top: 10px;
    margin-right: 40px;
}
#pesquisar::placeholder{
    color: var(--cor-do-nome-pesquisar);
}
#parte2{
    height: 30px;
    border-top: 3px solid var(--cor-das-linhas);
    border-bottom: 3px solid var(--cor-das-linhas);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50px;
    padding-right: 20px;
    background-color: var(--cor-da-parte2);
    color: var(--cor-menu-nav-texto);
}
#ajuda{
    color: var(--cor-das-linhas);
}
.p{
    border-right: 2px solid var(--cor-das-linhas);
    padding-right: 20px;
    color: var(--cor-das-linhas);
}
.temas {
    display: none;
    position: absolute;
    background-color: var(--cor-menu-temas);
    border: 1px solid #d9d9d9;
    padding: 10px;
    border-radius: 10px;
}
.menu-temas:hover .temas {
    display: block;
}
#iconestl{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
    filter: var(--cor-icones);
}
#icones{
    display: flex;
    align-items: center;
    gap: 15px;
}
.botaotype.especial{
    background-color: var(--cor-hover-icones);
}
.botaotype{
    padding: 10px;
    border-radius: 100%;
    border: none;
    background-color: var(--cor-icone-nao-selecionado);
    width: 45px;
    height: 45px;
}
.botaotype img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    filter: var(--cor-icones);
    cursor: pointer;
}
.botaotype:hover{
    background-color: var(--cor-hover-icones);
}
#menutenis{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: var(--cor-do-nav);
    color: var(--cor-dos-navs);
} 
#menutenis p{
    color: var(--cor-texto-menutenis);
}
section{
    display: flex;
    justify-content: center;
}
#corpo{
    background-color: var(--cor-da-div-corpo);
    width: 80%;
    border-radius: 25px;
    display: flex;
    font-size: 30px;
    padding: 50px;
    height: 60vh;
    margin-top: 30px;
    font-family: "Inknut Antiqua";
}
input{
    border: none;
    background-color: #D9D9D9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    font-family: "Inknut Antiqua";
    font-size: 20px;
}
input::placeholder{
    color: black;
    font-family: "Inknut Antiqua";
    font-size: 20px;
}
#form1{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 50px 0px 0px;
    gap: 30px;
    margin-top: -40px;
}
#form2{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 0px 40px 0px 100px;
    gap: 20px;
    margin-top: -40px;
}
.linha{
    border-left: 1px solid var(--cor-linha-form);
}
#form1 p{
    border-bottom: 1px solid var(--cor-nomes-form);
    width: 70%;
}
#form2 p{
    border-bottom: 1px solid var(--cor-nomes-form);
    width: 50%;
}
.botao{
    background-color: var(--cor-do-botao);
    color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 10px;
    margin-right: 300px;
    width: 40%;
}
.titulo{
    color: var(--cor-nomes-form);
}
a{
    text-decoration: none;
    color: #000;
}
@media (min-width: 1024px){
    input{
        width: 70%;
    }
    #corpo{
        height: 80vh;
    }
}
@media (min-width: 601px) and (max-width: 1023px){
    input{
        width: 70%;
    }
    #form{
        padding: 0;
    }
    #corpo{
        display: flex;
        justify-content: center;
        height: 50vh;
    }
    #form1{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 0;
        gap: 20px;
        margin-top: -40px;
    }
    #form2{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        padding: 0;
        gap: 20px;
        margin-top: -40px;
        margin-left: 50px;
    }
    .botao{
        background-color: var(--cor-do-botao);
        color: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        font-size: 20px;
        padding: 10px;
        margin-right: 0px;
        width: 50%;
    }
}
@media (max-width: 600px){
    #corpo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 150vh;
    }
    #pesquisar{
        display: none;
    }
    nav{
        gap: 30px;
        flex-wrap: wrap;
        padding: 5px;
        padding-top: 0;
    }
    .p{
        border-right: 2px solid var(--cor-das-linhas);
        padding: 0;
        padding-right: 5px;
        color: var(--cor-das-linhas);
        display: flex;
    }
    #ajuda{
        color: var(--cor-das-linhas);
        display: flex;
    } 
    #parte2{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    #form1{
        flex-wrap: wrap;
    }
    #form1 p{
        width: 70%;
    }
    #form1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }
    input{
        border: none;
        background-color: #D9D9D9;
        padding: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
        font-family: "Inknut Antiqua";
        font-size: 20px;
        width: 90%;
    }
    #form2{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
        margin-top: 0;
    }
    #form2 p{
        width: 70%;
    }
    .linha{
        border-left: 0;
        border-bottom: 1px solid var(--cor-linha-form);
        width: 100%;
    }
    .botao{
        margin: 0;
        width: 50%;
    }
}

.mostrarsenha {
  display: flex;
  align-items: center;
  gap: 6px;               
  margin-top: -10px;      
  margin-bottom: 12px;
}

.mostrarsenha p {
  font-size: 14px;
  color: var(--cor-nomes-form); 
  margin: 0;
}

.mostrarsenha input[type="checkbox"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

